html {
  height: 100%;
}
body {
  display: flex;
  margin: 0%;
  height: 100%;
  font-family: sans-serif;
}

p {
  font-size: large;
}

img {
  width: 45%;
  height: 100%;
  
}
.side-img {
  width: 50%;

}

.right-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  box-shadow: 10px 10px;
}

