@font-face {
  font-family: coop;
  src: url(./webfontkit/cooperhewitt-light-webfont.woff);
}

html {
  height: 100%;
}
body {
  display: flex;
  margin: 0%;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: larger;
  padding-left: 40px;
}

img {
  height: 100%;
}


.right-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(249 250 251);
  justify-content: center;
  
}

.sign-up {

  background-color: rgb(255 255 255);
  box-shadow: 0px 5px 5px #dcdddd;
  padding-left: 40px;
}

form {
  font-family: coop;
  display: flex;
}

input {
  display: flex;
  flex-direction: column;
  border: 1px solid #dcdddd;
  border-radius: 5px;
  height: 20px;
}

button {
  border-radius: 4px;
  border: 1px solid #dcdddd;
  width: 130px;
  height: 35px;
  position: relative;
  top: 160px;
  right: 350px;
}
button:hover {
  cursor: pointer;
}


