html {
  height: 100%;
}
body {
  display: flex;
  margin: 0%;
  height: 100%;
  font-family: sans-serif;
}

h1 {
  font-weight: 100;
  font-size: larger;
}

img {
  width: min(45%, 400px);
  height: 100%;
}
.side-img {
  width: 50%;

}

.right-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(249 250 251);
  justify-content: center;
  
}

.sign-up {
  background-color: rgb(255 255 255);
  box-shadow: 0px 5px 5px #dcdddd;
  padding-left: 40px;
}

form {

}



